{% extends "auctions/layout.html" %}

{% block body %}
<section img style="max-width: 95%; margin: auto; width: 100%; min-height: 640px; display: flex; align-items: center; background-image: url('home.png'); background-repeat: no-repeat; background-size: cover; background-position: center left;" id="home">
  <div class="home-text">
      <h1>We Have Everything<br>Your <span>Car</span> Needs</h1>
      <p>Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Laborum </p>
  </div>
</section>
  <div class="add-listing-container">
    <h2 class="blue-text margin-bot">
      Active Listings
    </h2>
    {% if user.is_authenticated %}
    <h5 title="add listing" class="plus-container">
      <a class="btn btn-outline-success plus-link" href="{% url 'auctions:add_listing' %}">+ Add new Listing</a>
      <a class="btn btn-outline-warning plus-link" href="{% url 'auctions:user_listings' %}">
        View Your Listings
      </a>
    </h5>
    {% endif %}
  </div>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  {% if listings %}
  <ul class="listings">
    {% for list in listings %}
    <li>
      <div class="card">
        <div class="card-header">
          {{ list.listing.name }}
          {% if list.listing.user == user %}
          <div class="owned-icon" title="You Own This Listing">
            ★
          </div>
          {% endif %}
        </div>
        <div class="card-body" style="display: inline;">
          <img align="left" alt="{{ list.listing.name }} - img" style="display: inline;" src="{{ list.listing.image.url }}" height="200" width="300"/>
          {% if list.bid != None %}
          <h5 align="center" class="list-cost" style="margin-top: 15px; display: inline; margin-left: 35px; color: var(--danger)">Bidding has started on this item</h5>
          <h5 class="list-cost" style="display: inline; margin-left: 35px">Current Highest Bid: <strong style="display: inline; color: var(--warning)">${{ list.bid.highest_bid }}</strong></h5>
          {% else %}
          <h5 class="list-cost" style="display: inline; margin-left: 50px; color: var(--success)">No Bids Currently Placed</h5>
          <h5 class="list-cost" style="display: inline; margin-left: 35px;">Bid Starts From: <strong>${{ list.listing.initial }}</strong> </h5>
          {% endif %}
          <h5 style="margin-top: 50px;"> Category: <strong style="color: var(--gray)">{{ list.listing.category }}</strong> </h5>
          {% if user.is_authenticated %}
          <div class="links-box">
            <a class="btn btn-outline-primary" href="{% url 'auctions:listing' list.listing.id %}">View Listing</a>
            <a class="btn btn-outline-success" href="{% url 'auctions:add_to' list.listing.id %}">Add to WatchList</a>
            {% if listing.user == user %}
            <a class="btn btn-outline-danger" href="{% url 'auctions:close_listing' list.listing.id %}">Close Listing</a>
            {% endif %}
          </div>
          {% else %}
          <a class="nav-link" href="{% url 'auctions:login' %}">LogIn to view listing</a>
          {% endif %}
          <h6 class="text-muted right-align">Date added: {{ list.listing.created }}</h6>
        </div>
      </div>
    </li>
    {% endfor %}
    <li class="card card-header bg-info">
      <div style="text-align: center; color: white;"> --- END --- </div>
    </li>
  </ul>
  {% endif %}
{% endblock %}
