 {% extends "auctions/layout.html" %} {% load static %} {% block body %}
<!-- <section img style="max-width: 95%; margin: auto; width: 100%; min-height: 640px; display: flex; align-items: center; background-image:url(/static/home.png); background-repeat: no-repeat; background-size: cover; background-position: center left;" id="home">
  <div class="home-text">
      <h1>We Have Everything<br>Your <span>Car</span> Needs</h1>
      <p>Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Laborum </p>
  </div>
</section> -->


</section>
<div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Active Listings</h2>
    </div>
    {% if user.is_authenticated %} {% if user.username == "admin" %}
    <h5 title="add listing" class="plus-container">
        <a class="btn btn-outline-success plus-link" href="{% url 'auctions:add_listing' %}">+ Add new Listing</a>
        <a class="btn btn-outline-warning plus-link" href="{% url 'auctions:user_listings' %}">
        View Your Listings
      </a>
    </h5>
    {% endif %} {% endif %}
</div>

{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %} {% endif %} {% if listings %}
<ul class="listings">
    {% for list in listings %}
    <li>
        <div class="card">
            <div class="card-header" style="font-size: 25px; color:#37517e">
                {{ list.listing.name }} {% if list.listing.user == user %}
                <div class="owned-icon" title="You Own This Listing">
                    ★
                </div>
                {% endif %}
            </div>
            <div class="card-body" style="display: inline;">
                <img align="left" alt="{{ list.listing.name }} - img" style="display: inline;" src="{{ list.listing.image.url }}" height="200" width=auto/> {% if list.bid != None %}
                <h5 align="center" class="list-cost" style="margin-top: 15px; display: inline; margin-left: 35px; color: var(--danger)">Bidding has started on this item</h5>
                <h5 class="list-cost" style="display: inline; margin-left: 35px">Current Highest Bid: <strong style="display: inline; color: var(--warning)">₹{{ list.bid.highest_bid }}</strong></h5>
                {% else %}
                <h5 class="list-cost" style="display: inline; margin-left: 50px; color: var(--success)">No Bids Currently Placed</h5>
                <h5 class="list-cost" style="display: inline; margin-left: 35px;">Bid Starts From: <strong>₹{{ list.listing.initial }}</strong> </h5>
                {% endif %}
                <h5 style="margin-top: 50px;"> Category: <strong style="color: var(--gray)">{{ list.listing.category }}</strong> </h5>
                {% if user.is_authenticated %}
                <div class="links-box">
                    <a class="btn btn-outline-primary" href="{% url 'auctions:listing' list.listing.id %}">View Listing</a>
                    <a class="btn btn-outline-success" href="{% url 'auctions:add_to' list.listing.id %}">Add to WatchList</a> {% if listing.user == user %}
                    <a class="btn btn-outline-danger" href="{% url 'auctions:close_listing' list.listing.id %}">Close Listing</a> {% endif %}
                </div>
                {% else %}
                <a class="nav-link" href="{% url 'auctions:login' %}">LogIn to view listing</a> {% endif %}
                <h6 class="text-muted right-align">Date added: {{ list.listing.created }}</h6>
            </div>
        </div>
    </li>
    {% endfor %} {% endif %}
    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>CarPoint</h3>
                        <p>
                            St. Francis Instutite of Technology,<br> Borivali,<br> Mumbai <br><br>
                            <strong>Phone:</strong> +91 9876543210<br>
                            <strong>Email:</strong> carpoint@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Active Listings</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Categories</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Login</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Register</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Feel free to contact us</p>
                        <div class="social-links mt-3">
                            <a href="https://www.linkedin.com/in/shashank-r-856824174/"><img src="{% static 'img/social-mediaLogo/linkedin-square-logo-24.png' %}" alt="logo"></a>
                            <a href="https://www.instagram.com/shashankraiiii/"><img src="{% static 'img/social-mediaLogo/instagram-alt-logo-24.png' %}" alt="logo"></a>
                            <a href="https://www.facebook.com/shashank.rai.7792052/"><img src="{% static 'img/social-mediaLogo/facebook-circle-logo-24.png' %}" alt="logo"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                <strong><span></span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                <a href="https://bootstrapmade.com/"></a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    {% endblock %}